.container {
    min-width: 40vw;
    min-height: 70vh;

    .container-title {
        display: flex;
        margin: 0.2rem 0.625rem;
        padding: 0.1rem 0.625rem;
        font-size: larger;
        font-weight: 700;
        width: 100%;
        justify-content: space-between;

        .container-title-left {
            letter-spacing: .2rem;
        }

        .container-title-right {}
    }

    .box {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0.625rem;
        margin: 0.625rem 0.1rem;
        background: #f2f4fa;
        border-radius: 0.625rem;

        .box-left {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        .action {

            .action-quantity {
                button {
                    width: 2rem;
                    font-size: larger;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .action {
            display: flex;
            justify-content: space-evenly;
            margin: 0.625rem 0.2rem;
            padding: 0.025rem 0rem;

            .action-quantity {
                font-weight: 900;
            }

            .action-btn {
                button {
                    font-weight: 700;
                    border: 0.2rem solid #000;
                    padding: 0.2rem 0.625rem;
                    margin: 0.1rem;
                    border-radius: 0.625rem;
                    box-shadow: 0.3rem 0.3rem 0.625rem grey;
                    cursor: pointer;
                }

                button:hover {
                    color: #fff;
                    background: #000;
                    border: 0.2rem solid #fff;
                }
            }
        }
    }

}
