<div class="container">
    <div class="box" *ngFor="let product of products">
        <div class="box-left" >
            <ng-container *ngIf="product.images.length>0">
                <img [src]="product.images[0].url" alt="">
            </ng-container>
        </div>
        <div class="box-center" >
            <div class="box-center-item"><H2>{{product.title}}</H2></div>
            <div class="box-center-item">{{product.brand.title}}</div>
            <div class="box-center-item">{{product.category.title}}</div>
            <div class="box-center-item">Rs.{{product.price}}</div>
        </div>
        <div class="box-right">
            <!-- <div class="box-right-cart">
                <button (click)="addToWishlist(product._id)">Add to WishList</button>
            </div> -->
            <div class="box-right-view">
                <button (click)="viewDetails(product._id)">ViewMoreDetails</button>
            </div>
            <!-- <div class="box-right-buy">
                <button (click)="openBuy(item)">Buy Now </button>
            </div> -->
        </div>
    </div>
</div>

