<div class="container">
     <div class="container-title">
        <div class="container-title-left"> {{title}} </div>
        <div class="container-title-right" (click)="onClose()"><i class="fa-solid fa-circle-xmark fa-xl"></i></div>
    </div>
    <div class="box">
        <div class="box-left" >
            <ng-container *ngIf="item.images.length>0">
                <div class="box-left-image" *ngFor="let image of item.images">
                    <img [src]="image.url" alt="">
                </div>
            </ng-container>
        </div>
        <div class="box-center">
            <div class="box-center-top"><H2>{{item.title}}</H2></div>
            <div class="box-center-middle">
                <div class="box-center-middle-item">{{item.brand.title}}</div>
                <div class="box-center-middle-item">{{item.description}}</div>

            </div>
            <div class="box-center-bottom">Rs.{{item.price}}</div>
        </div>
    </div>
</div>