:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  }

.head {
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .choice-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  button{
      width: 3rem;
      padding: 0.2rem 0.1rem;
      color: #fff;
      background: #000;
      outline: none;
      cursor: pointer;
      border-radius: 0.5rem;
      box-shadow: 1px 4px 5px 0 rgba(34, 41, 47, 0.6);
  }

  button:hover{
      color: #000;
      background: #fff;
  }
  
}
