.container {
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 10px 0px 10px 0 rgb(34 41 47 / 10%);
    padding: 0.813rem 1.563rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .container-title {
        margin: .5rem 0;
        padding: .5rem 1rem;
        font-weight: 700;
    }

    .form {
        margin: 0.625rem 0.625rem;
        padding: 0.5rem 0.5rem;

        .form-menu {
            .form-menu-item {
                .form-menu-item-label {
                    padding: .5rem 1rem;

                    .form-menu-item-label-name {
                        cursor: pointer;
                    }
                }
            }

            .form-menu-item-name {
                .form-menu-item-name-value {
                    outline: 0;
                    border: none;
                    border-bottom: 1px solid #101010;
                    font-size: .5rem;
                    width: 30rem;
                    font-size: 1rem;
                    padding: 0.5rem 0 0.2rem 1rem;
                    margin-left: 1rem;
                }
            }

            .form-menu-submit {
                text-align: center;

                .form-menu-submit-btn {
                    cursor: pointer;
                    margin: 0.5rem 0.5rem;
                    padding: .5rem 1rem;
                    border: 1px solid transparent;
                    border-radius: 5%;
                    outline: 0;
                    font-weight: 700;
                    font-size: large;
                }

                .form-menu-submit-btn:hover,
                .form-menu-submit-btn:focus {
                    color: #699dfa;
                }


            }
        }
    }

    .error{
        position: fixed;
        top: 10rem;
        right: 3rem;
        background: #e62f2fd6;
        color: #fff;
        padding: 0.5rem 1rem;
        width: 16rem;
        border: 2px solid #d03939;
        border-right: none;
        overflow: hidden;
        display: none;

        &.inError {
            display: block;
            animation: in-fall 3s ease-in-out forwards;
        }

        &.outError {
            animation: out-fall .5s ease-in-out forwards;
            display: block;
        }

        
    }

    .loading {
        position: fixed;
        top: 0;
        // color: #fff;
        display: none;
        width: 100%;
        height: 100%;
        background-color: #699dfa;
        .loading-box {
            display: block;
            margin-top: 8rem;
            margin-left: auto;
            margin-right: auto;
            width: 50%;

            .lodaing-box-img {
                margin-left: auto;
                margin-right: auto;
                // width: 50%;
                // width: 30rem;
                // height: 10rem;
                
            } 
        }

        &.in {
            display: block;
            opacity: 1;
            background-color: #d8d1d176;
            animation: in-load .5s ease-in-out forwards;
        }

        &.out {
            animation: out-load 3s ease-out forwards;
        }

    }

}



@keyframes in-fall {
    0% {
        right: -13rem;

    }
    100% {
        right: 3rem;
    }
}

@keyframes out-fall {
    0% {
        right: 3rem;
        opacity: 1;
    }
    100% {
        right: -13rem;
        opacity: 0;

    }
}

@keyframes in-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes out-load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}