.recent-orders {
    margin-top: 2rem;

    table {
        background: var(--color-white);
        width: 100%;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
        
        thead{
            tr{
                th{
                    padding-left: 2rem;

                }
            }
        }

        tbody{
            tr{
                cursor: pointer;
                td{ 
                    height: 2.8rem;
                    border-bottom: 1px solid var(--color-light);
                    color: var(--color-dark-variant);
                    padding-left: 2rem;
                }
            }
                
            tr:last-child {
                td {
                    border: none;
                }
            }
        }
    }


    table:hover {
        box-shadow: none;
    }
}
